/* styles of  title division */

.title{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1{
  color: #61892f;
  font-weight: 700;
  font-size: 30px;
}